.page-header {
    padding-bottom: 10px;
    margin: 40px 0 20px;
    border-bottom: 5px solid #000;
}

img {
    float: left;
    margin-right: 10px;
}

.read-link {
    float: right;
    color: blue;
}